/**
 * Core SASS
 */

// Responsive sizes
$medium: 992px
$small: 600px
$maxWidth: 1440px
$pad: 15px

// Fonts
$font: sans-serif

// Colours
$default: #000

// -----------------------------------------------

@import helpers.sass
@import generics.sass
@import header.sass
@import footer.sass
@import containers.sass
@import forms.sass
@import modules.sass