@charset "UTF-8";
/*---------------------------------------------------------------
	IE78 - Zurb Foundation 4 Grid
ˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍ

	https://gist.github.com/replete/7082477

	(an enhanced fork of https://gist.github.com/zurbchris/5068210 )
	
	1) Make sure $row-width-px = your max large breakpoint row width (e.g. 960px)
	2) Make sure $small-screen-px = your minimum large breakpoint row width (e.g. 768px)
	3) IE7 will need box-sizing polyfill, see my fix here: https://gist.github.com/replete/7082518
	
	-@replete

˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭˭*/
/* The Grid ---------------------- */
.row {
  max-width: 100%;
  margin: 0 auto; }

.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: -0.9375em; }

.row.large-collapse .column,
.row.large-collapse .columns {
  padding: 0; }

.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: -0.9375em; }

.row .row.large-collapse {
  margin: 0; }

.column,
.columns {
  float: left;
  min-height: 1px;
  padding: 0 0.9375em;
  position: relative; }

.column.large-centered,
.columns.large-centered {
  float: none;
  margin: 0 auto; }

[class*="column"] + [class*="column"]:last-child {
  float: right; }

[class*="column"] + [class*="column"].end {
  float: left; }

.large-1,
.row .large-1 {
  width: 8.33333%; }

.row .large-offset-1 {
  margin-left: 8.33333%; }

.large-2,
.row .large-2 {
  width: 16.66667%; }

.row .large-offset-2 {
  margin-left: 16.66667%; }

.large-3,
.row .large-3 {
  width: 25%; }

.row .large-offset-3 {
  margin-left: 25%; }

.large-4,
.row .large-4 {
  width: 33.33333%; }

.row .large-offset-4 {
  margin-left: 33.33333%; }

.large-5,
.row .large-5 {
  width: 41.66667%; }

.row .large-offset-5 {
  margin-left: 41.66667%; }

.large-6,
.row .large-6 {
  width: 50%; }

.row .large-offset-6 {
  margin-left: 50%; }

.large-7,
.row .large-7 {
  width: 58.33333%; }

.row .large-offset-7 {
  margin-left: 58.33333%; }

.large-8,
.row .large-8 {
  width: 66.66667%; }

.row .large-offset-8 {
  margin-left: 66.66667%; }

.large-9,
.row .large-9 {
  width: 75%; }

.row .large-offset-9 {
  margin-left: 75%; }

.large-10,
.row .large-10 {
  width: 83.33333%; }

.row .large-offset-10 {
  margin-left: 83.33333%; }

.large-11,
.row .large-11 {
  width: 91.66667%; }

.row .large-offset-11 {
  margin-left: 91.66667%; }

.large-12,
.row .large-12 {
  width: 100%; }

.row .large-offset-12 {
  margin-left: 100%; }

.pull-2 {
  right: 16.66667%; }

.push-2 {
  left: 16.66667%; }

.pull-3 {
  right: 25%; }

.push-3 {
  left: 25%; }

.pull-4 {
  right: 33.33333%; }

.push-4 {
  left: 33.33333%; }

.pull-5 {
  right: 41.66667%; }

.push-5 {
  left: 41.66667%; }

.pull-6 {
  right: 50%; }

.push-6 {
  left: 50%; }

.pull-7 {
  right: 58.33333%; }

.push-7 {
  left: 58.33333%; }

.pull-8 {
  right: 66.66667%; }

.push-8 {
  left: 66.66667%; }

.pull-9 {
  right: 75%; }

.push-9 {
  left: 75%; }

.pull-10 {
  right: 83.33333%; }

.push-10 {
  left: 83.33333%; }

.pull-11 {
  right: 91.66667%; }

.push-11 {
  left: 91.66667%; }

.pull-12 {
  right: 100%; }

.push-12 {
  left: 100%; }

/* Nicolas Gallagher's micro clearfix */
.row {
  *zoom: 1; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

[class*=large-block-grid-] {
  margin-left: -0.9375em;
  margin-right: -0.9375em; }

/* LARGE Block Grids */
.large-block-grid-2 {
  list-style: none; }

.large-block-grid-2 > li {
  float: left;
  width: 50%;
  padding: 0 0.9375em 0.9375em; }

.large-block-grid-2 > li:first-child + li {
  float: right; }

.large-block-grid-2 > li:first-child + li + li {
  clear: both; }

.large-block-grid-3 {
  list-style: none; }

.large-block-grid-3 > li {
  float: left;
  width: 33.3333%;
  padding: 0 0.9375em 0.9375em; }

.large-block-grid-3 > li:first-child + li + li {
  float: right; }

.large-block-grid-3 > li:first-child + li + li + li {
  clear: both; }

.large-block-grid-4 {
  list-style: none; }

.large-block-grid-4 > li {
  float: left;
  width: 25%;
  padding: 0 0.9375em 0.9375em; }

.large-block-grid-4 > li:first-child + li + li + li {
  float: right; }

.large-block-grid-4 > li:first-child + li + li + li + li {
  clear: both; }

.large-block-grid-5 {
  list-style: none; }

.large-block-grid-5 > li {
  float: left;
  width: 20%;
  padding: 0 0.9375em 0.9375em; }

.large-block-grid-5 > li:first-child + li + li + li + li {
  float: right; }

.large-block-grid-5 > li:first-child + li + li + li + li + li {
  clear: both; }

.large-block-grid-6 {
  list-style: none; }

.large-block-grid-6 > li {
  float: left;
  width: 16.6667%;
  padding: 0 0.9375em 0.9375em; }

.large-block-grid-6 > li:first-child + li + li + li + li + li {
  float: right; }

.large-block-grid-6 > li:first-child + li + li + li + li + li + li {
  clear: both; }

.large-block-grid-7 {
  list-style: none; }

.large-block-grid-7 > li {
  float: left;
  width: 14.2857142%;
  padding: 0 0.9375em 0.9375em; }

.large-block-grid-7 > li:first-child + li + li + li + li + li + li {
  float: right; }

.large-block-grid-7 > li:first-child + li + li + li + li + li + li + li {
  clear: both; }

.large-block-grid-8 {
  list-style: none; }

.large-block-grid-8 > li {
  float: left;
  width: 12.5%;
  padding: 0 0.9375em 0.9375em; }

.large-block-grid-8 > li:first-child + li + li + li + li + li + li + li {
  float: right; }

.large-block-grid-8 > li:first-child + li + li + li + li + li + li + li + li {
  clear: both; }

.large-block-grid-9 {
  list-style: none; }

.large-block-grid-9 > li {
  float: left;
  width: 11.111111%;
  padding: 0 0.9375em 0.9375em; }

.large-block-grid-9 > li:first-child + li + li + li + li + li + li + li + li {
  float: right; }

.large-block-grid-9 > li:first-child + li + li + li + li + li + li + li + li + li {
  clear: both; }

.large-block-grid-10 {
  list-style: none; }

.large-block-grid-10 > li {
  float: left;
  width: 10%;
  padding: 0 0.9375em 0.9375em; }

.large-block-grid-10 > li:first-child + li + li + li + li + li + li + li + li + li {
  float: right; }

.large-block-grid-10 > li:first-child + li + li + li + li + li + li + li + li + li + li {
  clear: both; }

.large-block-grid-11 {
  list-style: none; }

.large-block-grid-11 > li {
  float: left;
  width: 9.0909%;
  padding: 0 0.9375em 0.9375em; }

.large-block-grid-11 > li:first-child + li + li + li + li + li + li + li + li + li + li {
  float: right; }

.large-block-grid-11 > li:first-child + li + li + li + li + li + li + li + li + li + li + li {
  clear: both; }

.large-block-grid-12 {
  list-style: none; }

.large-block-grid-12 > li {
  float: left;
  width: 8.333333%;
  padding: 0 0.9375em 0.9375em; }

.large-block-grid-12 > li:first-child + li + li + li + li + li + li + li + li + li + li + li {
  float: right; }

.large-block-grid-12 > li:first-child + li + li + li + li + li + li + li + li + li + li + li + li {
  clear: both; }
